html {
    font-family: "Segoe UI", arial;
    font-size: 16px;
    background: #fff;
  }
  
  body {
    margin: 0;
  }
.col-md-6{
  min-width: 50%;
}
  
  .top-message{
    background-color: #0067B8;
    padding: 8px;
    font-size: 13px;
    text-align: center;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.img-tl{
  padding: 0px;
}
.row{
    align-items: center;
    padding: 5%;
    margin-top: -3%;
    display: block;
}
video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
    margin-top: -23%;
  }
  .centerdiv {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 3;
    max-width: 100%;
    width: 100%;
    padding: 5%;
    text-align: center;
  }



.top-message:hover{
    border: 1px dashed #f9f9f9;
    outline: 0;
    padding: 7px;
    cursor: pointer;
}
.top-message > a{
    color: #f9f9f9;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    cursor: pointer;
}
  * {
    box-sizing: border-box;
  }
  
  .feather {
    width: 20px;
    height: 20px;
    stroke: #333;
  }
  .feather.feather-menu {
    width: 24px;
    height: 24px;
  }
  .feather.feather-chevron-down {
    vertical-align: middle;
  }
  
  .container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .btn-toggle-menu,
  .menu-right > li > a,
  .menu-dropdown > li > a {
    border: 1px dashed transparent;
  }
  .btn-toggle-menu:active, .btn-toggle-menu:focus,
  .menu-right > li > a:active,
  .menu-right > li > a:focus,
  .menu-dropdown > li > a:active,
  .menu-dropdown > li > a:focus {
    border: 1px dashed #333;
    outline: 0;
  }
  
  .btn-toggle-menu {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  
  #navbar {
    background-color: #fff;
    padding: 12px 0 9px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  .nav-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-container {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    display: none;
  }
  
  .show {
    display: block !important;
  }
  
  .hide {
    display: none !important;
  }
  
  .mobile-nav-head {
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 12px 15px;
    background-color: white;
  }
  
  .menu-dropdown {
    margin: 0;
    padding: 0;
  }
  .menu-dropdown li {
    list-style-type: none;
    position: relative;
  }
  .menu-dropdown li:hover > a + .sub-menu {
    visibility: visible;
    opacity: 1;
  }
  .menu-dropdown li a {
    display: block;
    background-color: #fff;
    text-decoration: none;
    color: #333;
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
  }
  .menu-dropdown li a + ul.sub-menu {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    z-index: 5;
  }
  .menu-dropdown li a + ul.sub-menu li a {
    padding-left: 25px;
  }
 
  .menu-right {
    margin: 0;
    padding: 0;
    display: flex;
    flex: row;
  }
  .menu-right li {
    list-style-type: none;
  }
  .menu-right li a {
    color: #333;
    display: block;
    padding: 2px 6px;
    text-decoration: none;
    white-space: nowrap;
  }
  .ms-Button{
    width: 100% !important;
  }
  .btn-signin {
    display: none;
  }
  
  @media (min-width: 992px) {
    #navbar {
      padding: 7px 0 5px;
    }
    .img-tl{
      padding: 50px;
    }
    .row{
      display: flex;
    }
    video {
        min-width: 100%;
        min-height: 100vh;
        z-index: 1;
        margin-top: -7%;
      }
    .btn-toggle-menu,
  .mobile-nav-head {
      display: none;
    }
  
    .dropdown-container {
      position: inherit;
      display: block;
    }
  
    .menu-dropdown {
      display: flex;
      margin: 0 10px;
    }
    .menu-dropdown li a {
      padding: 8px 15px;
      border-bottom: 1px solid transparent;
    }
  
    .btn-signin {
      display: block;
    }
  
    .menu-right > li > a {
      padding: 6px 15px;
    }
    
    ul.sub-menu {
      position: absolute;
      top: calc(100% + 5px);
      border: 1px solid #eee;
      transition: 0.2s;
    }
    ul.sub-menu li {
      padding: 0;
    }
    ul.sub-menu li a {
      padding: 12px 30px !important;
      min-width: 200px;
      border-bottom: 1px solid #eee;
    }
    ul.sub-menu li a:hover {
      border-bottom: 1px solid transparent;
      background-color: #f9f9f9;
    }
    .centerdiv{
      max-width: 45%;
      text-align: left;
    }
    .ms-Button{
      width: fit-content !important;
    }
    
  }
  .ms-Button:hover{
    border:1px dashed #f9f9f9 !important;
  }
  .ms-Button{
    white-space: nowrap !important;
    display: inline-table !important;
    border: 1px solid transparent !important;

  }
  .ms-TextField-field{
    font-size: 16px !important;
  }

  body {
    margin: 0;
    padding: 0;
  }
  label {
    position: relative;
    display: flex;
  }
  
  .label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url('https://api.iconify.design/feather-mail.svg') no-repeat center center / contain;  }
  
  input {
    padding: 6px 40px 8px !important;
  }
  .bg-video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 550px;
    background: url(https://files.uxpin.com/homepage/videos/home-header.mp4) no-repeat center center/cover;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.9) 10%, rgba(0,0,0,1) 99%);
    z-index: 3;
  }
  section {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .carrousel {
    background: #ffffff;
    text-align: center;
    padding: 4em 0;
    margin: auto;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  .carrousel h2 {
    margin: 0;
    margin-top: -1.7em;
    padding: 0;
    font-size: 1em;
    text-align: center;
    color: #bbbbbb;
  }
  .carrousel .slides {
    width: 400%;
    left: 0;
    padding-left: 0;
    padding-top: 1em;
    overflow: hidden;
    list-style: none;
    position: relative;
  
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
  }
  .carrousel .slides li {
    width: 25%;
    position: relative;
    float: left;
  }
  .carrousel li p{
    margin-top: 0;  
  }
  .carrousel li q {
    max-width: 90%;
    margin: auto;
    color: #666666;
    font-size: 1.3em;
    font-weight: bold;
  }
  .carrousel li img {
    width: 3em;
    height: 3em;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -1.5em;
    margin-right: 0.5em;
    vertical-align: middle;
  }
  .carrousel li span.author {
    margin-top:0.5em;
    font-size: 1.2em;
    color: #777777;
    display: block;
  }
  .carrousel .slidesNavigation {
    display: block;
    list-style: none;
    text-align: center;
    bottom: 1em;
    /*--- Centering trick---*/
      /* Absolute positioning*/
      position: absolute; 
      /* Abosulte positioning*/
      width: 104px; /*This width  is the addition of the width of all the navigations dots - So in this case is   104 because the navigation dots are 26px (width:10px and 6px marginleft + 6 px marginright) and there are 4 dots so 4x26=104 */
      left: 50%; /*Centering de element*/
      margin-left: -52px; /*adjusting the centering by applying a negative margin of half of the width*/
  }
  .carrousel input {
    display: none;
  }
  .carrousel .slidesNavigation label {
    float: left;
    margin: 6px;
    display: block;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px #2980b9;
    font-size: 0;
  }
  /* You have to repeat this with each slide
  TODO: make it easier with SCSS
  25% movement 100/slides-num
  */
  #radio-1:checked ~ .slides {
    transform: translateX(0%);
  }
  #radio-2:checked ~ .slides {
    transform: translateX(-25%);
  }
  #radio-3:checked ~ .slides {
    transform: translateX(-50%);
  }
  #radio-4:checked ~ .slides {
    transform: translateX(-75%);
  }
  
  
  .carrousel .slidesNavigation label:hover {
     cursor: pointer;
  }
  /* You have to repeat this with each slide/dot */
  .carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
  .carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
  .carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
  .carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
    background: #2980b9;
  }
  .product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
    margin: 10px;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}
.badge2 {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: #0067B8;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    overflow: hidden;
    background: #f0f0f0;
}

.product-tumb img {
  max-height: 100%;
  width: fit-content;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 700;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #0fab0a;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #0067B8;
    font-weight: 700;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-weight: 700;
    font-size: 17px;
}

.product-links a:hover {
    color: #0fab0a;
}
.cards{
  display: flex;
}
  @media  (max-width: 796px) {
    .product-card {
      width: 100%;
      position: relative;
      box-shadow: 0 2px 7px #dfdfdf;
      background: #fafafa;
      margin: 30px 0px;
  }
  .cards{
    display: block;
  }
    .carrousel{
    }
  }
  @media  (max-width: 480px) {
    .carrousel li p {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    .carrousel li q {
        font-size: 1em;
    }
    .carrousel li img {
       width:2em;
       margin-left: -1em;
       margin-right: 0.25em;
    }
  }

  
div.cookies {
  position:fixed; 
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0,74,151,0.9);
}
div.cookies .container {
  position: relative;
}
@media only screen and (min-width: 1025px) {
  div.cookies .container {
    height: 40px;
  }
}
div.cookies .container div {
  padding-left: 60px;
  padding-right:10px;
}
div.cookies a {
  color: #fff;
  text-decoration:underline;
  border:none;
}
div.cookies a.close-cookie-warning {
  position: absolute;
  left: 15px;
  top: 0;
  display: block;
  background-color: rgb(0,74,151);
  color: #fff;
  height: 100%;
    display: flex;
    align-items: center;
  padding: 9px 5px;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border:none;
  text-decoration: none;
}
div.cookies a.close-cookie-warning:hover {
  background-color: #fff;
  color:rgb(47,153,205);
  border-bottom:none;
}
@media only screen and (max-width: 767px) {
.mobile-hidden {
  display:none;
  }
}
  
  #section05 a {
    padding-top: 70px;
  }
  #section05 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  
  


  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  footer{
    margin-top: 80px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease 0.25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease 0.25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all 0.25s;
  }
  
  .footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  
  .footer-distributed p.footer-links a:hover {
    text-decoration: underline;
  }
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
  